.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a{text-decoration:none}


.SideBar {
  width: 250px;
  max-width: 250px;
  padding: 0;
  margin: 0;
  background-color:#36454f;
  border: 1px solid blue;
  display: inline-block;
}

.SideBarList {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.SideBarList .SideBarRow {
  height: 50px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white
}

.SideBarList .SideBarRow:hover {
  cursor: pointer;
  background-color:#536878;
}

.SideBarRow #icon {
  flex: 30%;
 
}

.SideBarRow #title {
  flex: 70%;
}

.SideBarList #active {
  background-color: #536878;
}